@model  WebGridSample.Models.StudentVm
@{
    ViewBag.Title = "Show";
}



<style type="text/css">
    .webgrid-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 1px #98BF21;
        background-color: white;
    }

        .webgrid-table td, th {
            border: 1px solid #98BF21;
            padding: 3px 7px 2px;
        }

    .webgrid-header {
        background-color: #A7C942;
        color: #FFFFFF;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color: #EAF2D3;
        padding: 3px 7px 2px;
    }
</style>

<h2>Show</h2>

@{
    var grid = new WebGrid(Model);
    WebGrid studentGrid = new WebGrid(rowsPerPage: 10);
    studentGrid.Bind(Model., autoSortAndPage: false, rowCount: Model.RowCo);
    studentGrid.PageIndex = Model.CurrentPage;
}

<div id="gridContent" style=" padding:20px; ">
    @grid.GetHtml(
        tableStyle: "webgrid-table",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style",
        mode: WebGridPagerModes.All,
        columns:
            grid.Columns(
            grid.Column(columnName: "ID", header: "ID", format: @<text>@item.ID</text>),
            grid.Column(columnName: "FirstName", header: "First Name", format: @<text>@item.FirstName</text> ),
            grid.Column(columnName: "LastName", header: "Last Name", format: @<text>@item.LastName</text>),
            grid.Column(header: "IsActive",
            format: @<text><input id="select" class="box" name="select" type="checkbox" @(item.IsActive ? "checked='checked'" : "") value="@item.IsActive" /></text>,
                style: "text-center checkbox-width")
                ))
</div>

