@model  WebGridSample.Models.StudentListViewModel
@{
    ViewBag.Title = "Show2";
}
<link href="~/Content/WebGridStyle.css" rel="stylesheet" />
<link href="~/Content/PagerStyle2.css" rel="stylesheet" />

<style type="text/css">
    .PadOn {
        padding: 3px 7px 2px;
    }

    .PadOff {
        /*padding: 0px !important;*/
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
    }

    .btnGreen{
        background-color:#5cb85c !important;
        color:white;
    }

    .btnSky {
        background-color: #5bc0de;
        color:white;
    }

    .btnRed {
        background-color: #d9534f;
        color:white;
    }

    td input , td select {
        display: inline;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px;
        border-color: black;
        border-style: solid;
    }

    .edit-mode {
        
    }

    .edit-user {
    }

        .edit-user display-mode {
        }

    .save-user edit-mode {
    }

    .display-mode {
    }

    .cancel-user {
    }

    #bottomdiv{
        background-color:#373943;
        height:65px;
        width:96.5%;
        margin-left: 20px;
        display: table;
        vertical-align: middle;
        text-align: center;
    }

    #btnSaveAll
    {
        vertical-align: middle;
        display: block;
        float:right; 
        margin-top:15px;
        margin-right: 14px;
    }

.validation-error
{
    background: #FEF1EC;
    border: 1px solid #CD0A0A;
}

.tooltip-inner {
    max-width: 300px;
    padding: 0;
    border: solid 1px #ccc;
    background-color: #f00;
}
.tooltip-alert{
    padding: 8px 10px;
    font-weight: bolder;
    color: white;
    background-color: #f00;
} 

.tooltip-arrow { border-bottom-color:black; }
</style>

<h2>Grid with partial view & style pager</h2>
<script>
    var loaderUrl = '@Url.Content("~/images/loader.gif")';
    var updateUrl = '@Url.Action("UpdateStudents", "Student")';
    var CascadeUrl = '@Url.Action("GetCityName", "Student")';
    var RefreshUrl = '@Url.Action("RefreshStudents", "Student")';
</script>

@using (@Html.BeginForm("List", "Student", FormMethod.Post, new { @id = "frmDetails" }))
{
    <div id="gridContent" style=" padding:20px; ">
        @Html.Partial("_StudentGrid")
    </div>
    
    <div id="bottomdiv">
        <button id="btnSaveAll" class="btn btn-success">Save All</button>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Personal/GridHandlder2.js"></script>

}


