@model  WebGridSample.Models.StudentVm
@{
    ViewBag.Title = "Show";
}



<style type="text/css">

    .webgrid-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 1px #98BF21;
        background-color: white;
    }

        .webgrid-table td, th {
            border: 1px solid #98BF21;
            padding: 3px 7px 2px;
        }

    .webgrid-header {
        background-color: #A7C942;
        color: #FFFFFF;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
        text-decoration: none;
    }

        .webgrid-header a:hover {
            text-decoration: none;
        }

    .webgrid-footer {
    }

        .webgrid-footer a:hover {
            text-decoration: none;
        }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color: #EAF2D3;
        padding: 3px 7px 2px;
    }

    .SmallCols {
        width: 10%;
    }

    .NameColWidth {
        width: 20%;
    }

</style>

<h2>Sample WebGrid Demo</h2>

@{
    WebGrid grid = new WebGrid(null, rowsPerPage: Model.PageSize, canPage: true, 
        defaultSort: Model.sort, ajaxUpdateContainerId: "gridContent", ajaxUpdateCallback: "initScripts"); //, ajaxUpdateContainerId: "gridContent"
    grid.Bind(Model.Students, autoSortAndPage: false, rowCount: Model.RowCount);
    //grid.PageIndex = Model.CurrentPage;
}

@using (@Html.BeginForm("Show", "WebGrid", FormMethod.Post, new { @id = "frmDetails" }))
{
    <div id="gridContent" style=" padding:20px; ">
        @grid.GetHtml(
        tableStyle: "webgrid-table",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style",
        mode: WebGridPagerModes.All,
        firstText: "<<",
        previousText: "<",
        nextText: ">",
        lastText: ">>", 
        numericLinksCount: 5,       
        columns:
            grid.Columns
            (
            grid.Column(columnName: "ID", header: "ID", format: @<text>@item.ID</text>,style:"SmallCols"),
            grid.Column(columnName: "FirstName", header: "First Name", format: @<text>@item.FirstName</text>,style:"NameColWidth" ),
            grid.Column(columnName: "LastName", header: "Last Name", format: @<text>@item.LastName</text>,style:"NameColWidth"),
            
            grid.Column(columnName: "StateName", header: "State Name", format: @<text>@item.StateName</text>,style:"NameColWidth"),
            grid.Column(columnName: "CityName", header: "City Name", format: @<text>@item.CityName</text>,style:"NameColWidth"),
            grid.Column(header: "IsActive",
            format: @<text><input id="select" class="box" name="select" type="checkbox" @(item.IsActive ? "checked='checked'" : "") value="@item.IsActive" /></text>
                              , style: "text-center checkbox-width SmallCols")

                     ))

        @Html.Hidden("dir", grid.SortDirection)
        @Html.Hidden("col", grid.SortColumn)
        @Html.Hidden("page", Model.CurrentPage)
    </div>
}


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            initScripts();
        });

        function initScripts()
        {
            SetSortArrows();
            SetPagerNavImage();
            SetUpNavQueryString();
        }

        function SetPagerNavImage()
        {
            $(".webgrid-footer a").each(function () {
                var text = $(this).text().trim();
                if (text == "<<") {
                    $(this).html('<img src="/images/first.png"/>');
                }

                if (text == ">>") {
                    $(this).html('<img src="/images/last.png"/>');
                }

                if (text == "<") {
                    $(this).html('<img src="/images/back.png"/>');
                }

                if (text == ">") {
                    $(this).html('<img src="/images/next.png"/>');
                }

            });
        }

        function SetSortArrows() {
            var dir = $('#dir').val();
            var col = $('#col').val();
            //alert(col);
            var header = $('th a[href*=' + col + ']');
            if (dir == 'Ascending') {
                header.text(header.text() + ' ▲');
            }
            if (dir == 'Descending') {
                header.text(header.text() + ' ▼');
            }
        }

        function SetUpNavQueryString()
        {
            $(".webgrid-header a").each(function () {
                this.href = this.href + '&page=' + $('#page').val();
            });

            $(".webgrid-footer a").each(function () {
                var res = this.href.split("&");
                var ColOrder='';
                if(res.length<=1)
                {
                    if($('#dir').val()==='Ascending')
                    {
                        ColOrder='ASC';
                    }
                    else if($('#dir').val()==='Descending')
                    {
                        ColOrder='DESC';
                    }

                    this.href = this.href + '&sort=' + $('#col').val() + '&sortdir=' + ColOrder;
                }
                //this.href = this.href + '&page=' + $('#page').val();
            });

        }

    </script>
}
